body {
    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    background-color: white;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    -webkit-box-shadow: 3px 3px 30px 5px #000000;
    -moz-box-shadow: 3px 3px 30px 5px #000000;
    box-shadow: 3px 3px 30px 5px #000000;
    opacity: 0.8;
    text-align: center;
}

#appName {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

input {
    margin: 5px;
}

input[type=text] {
    margin-top: 20px;
}

input[type=text],
input[type=password] {
    width: 390px;
    background-color: #efefef;
    color: #666666;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;

}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 5px 1px #000000;
    -moz-box-shadow: 0px 0px 5px 1px #000000;
    box-shadow: 0px 0px 5px 1px #000000;
    border: 1px solid gray;
    background-color: lightgray;
    color: black;
}

input[type=submit] {
    width: 390px;
    background-color: #666666;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 20px;
    outline: none;
}

input[type=submit]:focus {
-webkit-box-shadow: 0px 0px 15px 5px #000000;
-moz-box-shadow: 0px 0px 15px 5px #000000;
box-shadow: 0px 0px 15px 5px #000000;
}

input[type=submit]:hover {
    background-color: gray;
}

