body, html {
    background-color: silver;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Calibri', sans-serif;
    font-weight: 100;
}

header {
    background-color: #404a4d;
    width: 100%;
    height: 7%;
    display: table;
}

        nav ul .fa {
            /* padding-left: 18px;
            padding-right: 18px; */
            width: 40px;
            margin-left: 6px;
            margin-right: 6px;
            text-align: center;
        }

        button#list {
            background-color: #404a4d;
            border: none;
            outline: none;
        }

        .fa-th-list {
            color: white;
        }

        #headerTitle {
            color: whitesmoke;
            display: table-cell;
            margin-left: 100px;
            padding: 10px;
            vertical-align: middle;
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
        }

nav {
    background-color: #546064;
    float: left;
    width: 18%;
    height: 88%;
}

        ul {
            padding: 0;
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            list-style: none;
            /* text-transform: uppercase; */
        }

        li {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        a {
            color: white;
            width: 20%;
            text-decoration: none;
        }

        li:hover {
            background-color: rgb(40, 192, 243);
        }

section {
    background-color: #e2e2e2;
    float: left;
    width: 82%;
    height: 88%;
}

        article {
            background-color: rgb(126, 195, 255);
        }

        article {
            background-color: rgb(59, 164, 255);
        }

footer {
    background-color: #404a4d;
    width: 100%;
    height: 5%;
    text-align: center;
    display: table;
}

        span#footerTitle {
            color: whitesmoke;
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 400;
            /* text-transform: uppercase; */
        }